<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Movie Organizer</title>
    <link rel="icon" href="https://www.freeiconspng.com/uploads/popcorn-png-3.png">

</head>

<body>
    <header class="site-header">
        <nav>
            <div class="nav-wrapper #616161 grey darken-2">
                <a href="/" class="brand-logo left"> <i class="fas fa-video fa-spin"></i>Movie Organizer</a>
                <ul class="right">
                    <li><a href="/list">Show Movie Lists</a></li>
                    <li><a href="/list/new">Create Movie List</a></li>
                    <li><a href="/movie/new">Add Movie</a></li>
                    {{!-- <li><a href="#">Search for Movie</a></li> --}}
                    <li><a href="/rate">Browse Movie by Rating</a></li>
                    {{!-- {{#if user}}
                    <li><a href="#">Welcome {{user.username}}</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    {{else}}
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    {{/if}} --}}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {{{ body }}}
    </main>


    {{!-- Form select feature work with Hammad's help. He inspect element the feature and noticed that options was not defined. Once options was removed the form worked  --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);

        });
    </script>


</body>

</html>