<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Organizer</title>
    <link rel="icon" href="https://www.freeiconspng.com/uploads/popcorn-png-3.png">


</head>

<body>
    {{{ body }}}
</body>

</html>