<br>
<br>
<form action="/movie" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title">
    </div>
    <div class="input-field col s12">
        <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Action</option>
            <option value="2">Animation</option>
            <option value="3">Comedy</option>
            <option value="4">Documentary</option>
            <option value="5">Drama</option>
            <option value="6">Horror</option>
            <option value="7">Romance</option>
        </select>
        <label>Genre:</label>
    </div>
    <div>
        <label for="year">Year:</label>
        <input type="number" name="year" placeholder="yyyy">
    </div>
    <div>
        <label for="rating">IMDb rating:</label>
        <input type="number" name="rating" min="0" step=".1" Placeholder="0.0 out of 10.0">
    </div>
    <div>
        <label for="image">Image url:</label>
        <input type="url" name="image" id="image" placeholder="Insert image URL here">
    </div>
    <div>
        <input type="submit" value="Save" id="addNewMovie">
    </div>
</form>

<script>
    document.getElementById('addNewMovie').addEventListener('click', function () {
        document.getElementById('card-photo').innerHTML = '<img src="' + document.getElementById('image').value + '" alt="Image" />';
    });
</script>