<h1>{{list.title}}</h1>
<p>{{list.description}}</p>


{{!-- <form action="/movie/{{movie.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<form action="/">
    <input type="submit" value="Home">
</form>

{{!-- Add button to go back home or back to list--}}