<h1>{{list.title}}</h1>
<p>{{list.description}}</p>

<form action="/list/{{list.id}}/edit">
    <p>
        <input type="submit" value="Edit">
    </p>
</form>

{{!-- <form action="/list/{{list.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<form action="/">
    <input type="submit" value="Home">
</form>

{{!-- Add button to go back home or back to list --}}